{%import "_macros.html" as macros%}
<!DOCTYPE html>
<html>
    <head>
        <title>{%if article%}{{article.title}}-{%endif%}青中人文站</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/Bootstrap4.3.1/bootstrap.min.css">
        <script src="/static/Bootstrap4.3.1/jquery.min.js"></script>
        <script src="/static/Bootstrap4.3.1/popper.min.js"></script>
        <script src="/static/Bootstrap4.3.1/bootstrap.min.js"></script>
        <link rel="icon" href="/static/favicon.jpg">
    </head>
    <body>
        {%include "_header.html"%}
        <div class="container{%if fluid%}-fluid{%endif%}" style="margin-top:80px;margin-bottom:50px;">
            {%for category,message in get_flashed_messages(with_categories=true)%}
            <div class="alert alert-{%if category != "message"%}{{category}}{%else%}{{backcolor}}{%endif%} alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>
            {%endfor%}
            {%block contents%}
            {%endblock%}
        </div>
        {%include "_footer.html"%}
    </body>
</html>