<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="/">青中人文站</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">主页</a></li>
            <li class="nav-item"><a class="nav-link" href="/write/">写文章</a></li>
            <li class="nav-item"><a class="nav-link" href="/about/">关于我们</a></li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% if user %}/author/?id={{uid}}{% else %}/login/{% endif %}">{% if user %}{{user}}{% else %}云校登录{% endif %}</a></li>
        </ul>
    </div>
</nav>