{%extends '_base.html'%}
{%block contents%}
<div class="row">
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item"><center><img src="{{author.headimg|default("/static/user.jpg")}}" style="width: 50%;" class="rounded"></center></li>
            <li class="list-group-item">姓名：<span class="float-right">{{author.realname}}</span></li>
            <li class="list-group-item">学号：<span class="float-right">{{author.id}}</span></li>
            <li class="list-group-item">已发布：<span class="float-right">{{author.count}}篇</span></li>
            {%if author.nickname%}
            <li class="list-group-item">外号标签：<span class="float-right">{{author.nickname}}</span></li>
            {%endif%}
            {%if uid == author.id%}
            <li class="list-group-item"><a class="btn btn-danger" href="/logout">登出</a><a class="btn btn-primary float-right" href="/edit/">编辑</a></li>
            {%endif%}
        </ul>
    </div>
    <div class="col-sm-8">
        <div class="row">
            {%for article in articles%}
            {{macros.show_article_card(article,backcolor,150,4)}}
            {%endfor%}
        </div>
    </div>
</div>
{%endblock%}