{%extends "_base.html"%}
{%block contents%}
<div class="jumbotron" style="margin-top:100px;">
    <h1>欢迎来到青中人文站</h1>
    <p>作为青岛中学七年级人文的交流网站，欢迎各位七年级同学在此交流。</p>
</div>
<div class="row">
    <div class="col-sm-9">
        <h3>好文推荐>></h3>
        <div class="row">
            {%for article in recommend%}
            {{macros.show_article_card(article)}}
            {%endfor%}
        </div>
        <h3>热门文章>></h3>
        <div class="row">
            {%for article in hot%}
            <div class="col-sm-3">
                <div class="card mb-3">
                    <img class="card-img-top" src="{{article.jumimg}}" style="height: 120px;">
                    <div class="card-body">
                        <a class="card-title h5 text-{{backcolor}}" href="/?id={{article.id}}">{{article.title}}</a><br>
                        <span class="text-muted float-right">作者：{{article.author}}</span>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
        <h3>最新发布>></h3>
        <div class="row">
            {%for article in newest%}
            <div class="col-sm-3">
                <div class="card mb-3">
                    <img class="card-img-top" src="{{article.jumimg}}" style="height: 120px;">
                    <div class="card-body">
                        <a class="card-title h5 text-{{backcolor}}" href="/?id={{article.id}}">{{article.title}}</a><br>
                        <span class="text-muted float-right">作者：{{article.author}}</span>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="col-sm-3">
        <h3>高产作者>></h3>
        <ul class="list-group">
            {%for author in authors%}
                <li class="list-group-item"><a class="mr-2 text-{{backcolor}}" href="/author/?id={{author.id}}">{{author.realname}}</a>{%if author.nickname%}<span class="badge badge-{{backcolor}}" style="font-size:small;">{{author.nickname}}</span>{%endif%}<span class="float-right">{{author.count}}篇</span></li>
            {%endfor%}
        </ul>
    </div>
</div>
{%endblock%}