{%extends "_base.html"%}
{%block contents%}
<img src="{{article.jumimg}}" width="100%"/><br><br>
<center><h1 id="default">{{article.title}}</h1></center>
<span class="text-muted float-right"><span class="mr-4">{{article.count}}次浏览</span>{{article.author}} 于 {{article.time.strftime("%Y/%m/%d %H:%M")}} 发布
{%if article.delete%}
    <del class="text-danger">已删除</del>
{%elif article.author == user or user in teachers%}
    <a class="btn btn-primary mr-2 ml-2" href="/change/?id={{article.id}}">修改</a>
    <a class="btn btn-danger mr-2" href="/delete/?id={{article.id}}">删除</a>
{%if user in teachers%}
<a class="btn btn-success" href="/recommend/?id={{article.id}}">{%if article.recommend%}取消{%endif%}推荐</a>{%endif%}{%endif%}</span><br><hr>
<div class="row">
    <div class="col-sm-8">
        <div class="card rounded mb-3">
            <div class="card-body">
                {{article.html|tag_format(article.theme)|safe_script|safe}}
            </div>
        </div>
        {%if article.delete%}
        <div class="card rounded mb-3">
            <del class="text-danger">文章已删除，评论不可见</del>
        </div>
        {%else%}
        {%if user%}
        <div class="card rounded mb-3">
            <div class="card-body">
                <form action="/comment/?id={{article.id}}" method="post" class="form-inline">
                    <div class="w-100" style="display: flex;">
                        <input type="text" name="comment" placeholder="这一刻的想法，评论一下" class="form-control" style="flex:11;">
                        <button type="submit" class="btn btn-{{backcolor}} w-100 ml-3" style="flex:1;">提交</button>
                    </div>
                </form>
            </div>
        </div>
        {%endif%}
        {%for comment in comments%}
        <div class="card rounded mb-3">
            <ul class="list-group">
                <li class="list-group-item">{{comment.author}}：{{comment.comment}}<span class="float-right text-muted">{{comment.time.strftime("%Y/%m/%d %H:%M")}}</span></li>
                {%if comment.comments%}
                {%for comcom in comment.comments%}
                <li class="list-group-item ml-3">{{comcom.author}}：{{comcom.comment}}</li>
                {%endfor%}
                {%endif%}
                {%if user%}
                <li class="list-group-item ml-3">
                    <form action="/comment/?id={{article.id}}" method="post" class="form-inline">
                        <div class="w-100" style="display: flex;">
                            <input type="text" name="comment" placeholder="这一刻的想法，评论一下" class="form-control" style="flex:11;">
                            <button type="submit" class="btn btn-{{backcolor}} w-100 ml-3" style="flex:1;">提交</button>
                        </div>
                    </form>
                </li>
                {%endif%}
            </ul>
        </div>
        {%else%}
        <div class="card rounded mb-3">
            <div class="card-body">
                暂无评论
            </div>
        </div>
        {%endfor%}
        {%endif%}
    </div>
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item">最新发布</li>
            {%for art in newest%}
            {{macros.show_article_brief(art,backcolor)}}
            {%else%}
            <li class="list-group-item">暂无文章</li>
            {%endfor%}
        </ul>
    </div>
</div>
{%endblock%}