{%extends '_base.html'%}
{%block contents%}
<center>
    <div style="max-width:400px;text-align:left;">
        <form action="" method="POST" enctype="multipart/form-data">
            <label>标题</label>
            <div class="form-group">
                <input type="text" class="form-control" name="title" value="{{basetitle}}">
            </div>
            <hr>
            <label>文章类型</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" value="0" id="text">
                <label class="form-check-label">文本</label><br>
                <input class="form-check-input" type="radio" name="type" value="1" id="image">
                <label class="form-check-label">图片</label>
            </div>
            <hr>
            <div class="form-group" id="fd1">
                <label>Markdown+HTML文本</label>
                <div class="form-group">
                    <textarea class="form-control" name="md" rows="10">{{basetext}}</textarea>
                </div>
                <hr>
                <label>主题</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="theme" value="0" checked>
                    <label class="form-check-label">蓝色（默认）</label><br>
                    <input class="form-check-input" type="radio" name="theme" value="1">
                    <label class="form-check-label">红色</label><br>
                    <input class="form-check-input" type="radio" name="theme" value="2">
                    <label class="form-check-label">橙色</label><br>
                    <input class="form-check-input" type="radio" name="theme" value="3">
                    <label class="form-check-label">绿色</label><br>
                </div>
            </div>
            <div class="form-group" id="fd2">
                <label>图片/视频文件</label>
                <input multiple type="file" name="files" class="form-control-file">
            </div>
            <hr>
            <div class="form-group">
                <label>文章头图链接（留空为青岛中学图标）</label>
                <input type="text" class="form-control" name="jumimg" value="{{basejumimg}}">
            </div>
            <button type="submit" class="btn btn-{{backcolor}}">提交</button>
        </form>
    </div>
</center>
<script>
    document.getElementById("text").onclick = function()
    {
        document.getElementById("fd1").style.display = "";
        document.getElementById("fd2").style.display = "none";
        document.getElementsByTagName("textarea")[0].required = true;
        document.getElementsByName("image")[0].required = false;
    };
    document.getElementById("image").onclick = function()
    {
        document.getElementById("fd1").style.display = "none";
        document.getElementById("fd2").style.display = "";
        document.getElementsByTagName("textarea")[0].required = false;
        document.getElementsByName("image")[0].required = true;
    };
    document.getElementById("text").click();
</script>
{%endblock%}