{%extends '_base.html'%}
{%block contents%}
{% import 'bootstrap/wtf.html' as wtf %}
<center>
    <div style="max-width:400px;text-align:left;">
        <form action="" method="POST">
            {{wtf.form_field(form.title)}}
            {{wtf.form_field(form.md)}}
            {{wtf.form_field(form.theme)}}
            {{wtf.form_field(form.jumimg)}}
            <button type="submit" class="btn btn-primary">提交</button>
            {{ form.hidden_tag() }}
        </form>
    </div>
</center>
{%endblock%}